.advantages {
  @include centering;

  @media (min-width: $width-tablet) {
    margin-bottom: 56px;
  }
}

.advantages__title {
  padding-bottom: 80px;
  font-size: $font-size-bigger;
  line-height: 30px / $font-size-bigger;
  font-weight: 700;

  @media (min-width: $width-tablet) {
    padding-top: 47px;
    padding-bottom: 97px;
    font-size: $font-size-extra-large;
    line-height: 50px / $font-size-extra-large;
  }

  @media (min-width: $width-desktop) {
    padding-top: 85px;
    padding-left: 168px;
    font-size: $font-size-extra-super-large;
    line-height: 57px / $font-size-extra-super-large;
  }
}

.advantages__list {
  list-style: none;

  @media (min-width: $width-tablet) {
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $width-desktop) {
    padding: 0 175px;
  }
}

.advantages__item {
  padding-bottom: 77px;
  padding-top: 7px;
  padding-right: 61px;

  @media (min-width: $width-tablet) {
    padding-bottom: 105px;
    padding-top: 6px;
    width: 50%;
  }
}

.advantages__item:nth-child(1) {
  padding-right: 63px;

  @media (min-width: $width-tablet) {
    padding-right: 102px;
    order: 1;
  }

  @media (min-width: $width-desktop) {
    padding-right: 118px;
  }
}

.advantages__item:nth-child(2) {
  @media (min-width: $width-tablet) {
    padding-right: 70px;
    order: 3;
  }

  @media (min-width: $width-desktop) {
    padding-right: 86px;
  }
}

.advantages__item:nth-child(3) {
  padding-right: 55px;
  order: 5;

  @media (min-width: $width-tablet) {
    padding-right: 92px;
  }

  @media (min-width: $width-desktop) {
    padding-right: 108px;
  }
}

.advantages__item:nth-child(4) {
  padding-right: 50px;
  padding-bottom: 78px;
  order: 2;
}

.advantages__item:nth-child(5) {
  padding-right: 10px;
  order: 4;
}

.advantages__item:nth-child(6) {
  padding-bottom: 58px;
  order: 6;
}

.advantages__note {
  line-height: 20px / $font-size-main;
  font-weight: 700;

  @media (min-width: $width-tablet) {
    font-size: $font-size-large;
    line-height: 22px / $font-size-large;
  }
}
