.advantages {
  padding-top: 30px;
  padding-bottom: 30px;
}

.advantages__title {
  padding-bottom: 80px;
  font-size: $font-size-bigger;
  line-height: 30px / $font-size-bigger;
  font-weight: 700;
}

.advantages__list {
  outline: 2px solid violet;
  list-style: none;
}

.advantages__item {
  outline: 2px solid coral;
  padding-bottom: 80px;
}

.advantages__note {
  line-height: 20px / $font-size-main;
  font-weight: 700;
}
