.btn-green {
  display: flex;
  padding-top: 23px;
  padding-bottom: 30px;
  font-size: $font-size-big;
  line-height: 24px / $font-size-big;
  font-weight: 700;
  color: $color-invert-text;
  text-decoration: none;

  &--left {
    margin-top: auto;
    padding-bottom: 30px;
    background-color: $color-green-background-light;

    @media (min-width: $width-tablet) {
      flex-grow: 1;
      width: 50%;
    }
  }

  &--right {
    padding-top: 25px;
    padding-bottom: 28px;
    background-color: $color-green-background-dark;

    @media (min-width: $width-tablet) {
      flex-grow: 1;
      width: 50%;
    }
  }

  @media (min-width: $width-tablet) {
    font-size: $font-size-large;
    line-height: 30px / $font-size-large;
  }
}
