.btn {
  line-height: 20px / $font-size-main;
  font-weight: 700;
  color: $color-grey-dark;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  border: 2px solid $color-grey-dark;

  &--invert {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 94px;
    padding-right: 94px;
    color: $color-invert-text;
    background-color: $color-green;
    border: none;
  }
}