.catalog {
  outline: 2px solid green;

  @include centering;
  margin-bottom: 30px;

  @media (min-width: $width-desktop) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $width-desktop) {
    margin-bottom: 59px;
  }
}

.catalog__title {
  @include visually-hidden;
}

.catalog__item {
  margin-bottom: 33px;

  @media (min-width: $width-tablet) {
    margin-bottom: 57px;
  }
}
