.content-heading {
  outline: 2px solid red;
  margin-bottom: 30px;
  min-height: 177px;
  background-color: $color-secondary-background;

  @media (min-width: $width-tablet) {
    margin-top: -69px;
  }

  &--index-page {
    display: flex;
    min-height: 480px;
    background-image: url("../img/hero-mobile@1x.jpg");
    background-position: center -26px;
    background-size: auto 373px;
    background-repeat: no-repeat;
    background-color: $color-grey-lighter-background;
  }
}

.content-heading__inner {
  display: flex;
  flex-direction: column;

  @include centering;

  @media (min-width: $width-tablet) {
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
  }
}

.content-heading__title {
  outline: 2px solid indigo;
  margin: 0 auto;
  padding-top: 62px;
  max-width: 260px;
  text-align: center;
  font-size: $font-size-biggest;
  line-height: 30px / $font-size-biggest;
  font-weight: 700;

  @media (min-width: $width-tablet) {
    min-width: 668px;
    font-size: $font-size-extra-large;
    line-height: 50px / $font-size-extra-large;
  }

  @media (min-width: $width-desktop) {
    min-width: 1050px;
    font-size: $font-size-extra-super-large;
    line-height: 57px / $font-size-extra-super-large;
  }
}

.content-heading__btn {
  outline: 2px solid goldenrod;
  padding-right: 126px;
}
