.contacts {
  padding-top: 29px;
  padding-bottom: 42px;

  @media (min-width: $width-tablet) {
    padding-top: 14px;
  }

  @media (min-width: $width-desktop) {
    @include centering;

    position: relative;
    padding-top: 79px;
    margin-bottom: 63px;
  }
}

.contacts__title {
  @include centering;

  padding-bottom: 26px;
  font-size: $font-size-medium;
  line-height: 30px / $font-size-medium;
  font-weight: 700;

  @media (min-width: $width-tablet) {
    padding-bottom: 50px;
    font-size: $font-size-extra-large;
    line-height: 50px / $font-size-extra-large;
  }

  @media (min-width: $width-desktop) {
    padding-bottom: 48px;
    padding-top: 69px;
    padding-left: 168px;
    font-size: $font-size-extra-super-large;
    line-height: 57px / $font-size-extra-super-large;
  }
}

.contacts__note {
  padding-bottom: 6px;

  @include centering;
}

.contacts__inner {
  list-style: none;

  @media (min-width: $width-tablet) {
    display: flex;
    padding-bottom: 21px;
  }

  @media (min-width: $width-desktop) {
    flex-wrap: wrap;
  }
}

.contacts__item {
  display: flex;
  padding-bottom: 30px;
  font-size: $font-size-small;
  line-height: 30px / $font-size-small;
  color: $color-secondary-text;

  @media (min-width: $width-tablet) {
    width: 50%;
    font-size: $font-size-main;
    line-height: 30px / $font-size-main;
  }

  @media (min-width: $width-desktop) {
    margin-right: 525px;
    margin-left: 175px;
  }
}

.contacts__item a {
  position: relative;
  padding-left: 28px;
  font-size: $font-size-small;
  line-height: 30px / $font-size-small;
  text-decoration: none;
  color: $color-secondary-text;

  @media (min-width: $width-tablet) {
    padding-left: 22px;
    font-size: $font-size-main;
    line-height: 30px / $font-size-main;
  }
}

.contacts__item a:hover {
  color: $color-green-background-dark-copy;
}

.contacts__item a::after {
  content: "";
  width: 177px;
  height: 1px;
  position: absolute;
  top: 28px;
  left: 31px;
  background-color: $color-green-background-light;
}

.contacts__item a:hover::after {
  background-color: $color-green-background-dark-copy;
}

.contacts__item p {
  padding-left: 30px;
  padding-right: 35px;
  color: $color-secondary-text;

  @media (min-width: $width-tablet) {
    padding-left: 24px;
  }
}

.contacts__map {
  margin-bottom: 37px;

  @media (min-width: $width-tablet) {
    margin-bottom: 52px;
  }

  @media (min-width: $width-desktop) {
    position: absolute;
    left: 50%;
    top: 79px;
  }
}

.contacts__map iframe {
  margin: 0 auto;
}

.contacts__btn {
  display: flex;
  margin: 0 auto;
  padding: 14px 48px;
  width: 258px;
  font-size: $font-size-medium;
  line-height: 20px / $font-size-medium;

  @media (min-width: $width-tablet) {
    width: 227px;
    padding-left: 36px;
    padding-right: 33px;
    font-size: $font-size-main;
    line-height: 20px / $font-size-main;
  }

  @media (min-width: $width-desktop) {
    margin-top: 25px;
    margin-right: 525px;
    margin-left: 175px;
    padding-left: 39px;
  }
}
