.field-comments__label {
  position: relative;
  width: 110px;
  line-height: 16px / $font-size-main;
  font-weight: 700;
  text-transform: uppercase;
  color: $color-green;

  @media (min-width: $width-tablet) {
    padding-top: 17px;
    margin-right: 56px;
  }

  @media (min-width: $width-desktop) {
    padding-left: 62px;
    margin-right: 66px;
  }
}

.field-comments__label::before {
  @media (max-width: $width-only-mobile) {
    content: "";
    position: absolute;
    top: 9px;
    right: -150px;
    width: 198px;
    height: 1px;
    background-color: $color-green;
  }
}

.field-comments__input {
  letter-spacing: -1px;
  padding-top: 14px;
  padding-left: 14px;
  padding-bottom: 88px;
  padding-right: 45px;
  min-width: 260px;
  outline: none;
  border: 2px solid $color-main-text;
  font-family: inherit;
  font-size: $font-size-big;
  line-height: 18px / $font-size-big;

  @media (min-width: $width-tablet) {
    letter-spacing: 0;
    min-width: 502px;
  }

  @media (min-width: $width-desktop) {
    min-width: 699px;
  }
}

.field-comments__input:hover,
.field-comments__input:active {
  border-color: $color-green;
}

.field-comments__input::placeholder {
  font-size: $font-size-big;
  line-height: 18px / $font-size-big;
  color: $color-grey;
}
