.field-text {
  line-height: 18px / $font-size-main;
  font-weight: 700;

  @media (min-width: $width-tablet) {
    font-size: $font-size-big;
    line-height: 18px / $font-size-big;
  }

  @media (min-width: $width-desktop) {
    padding-left: 8px;
  }
}

.field-text__input {
  padding-right: 16px;
  padding-left: 0;
  padding-top: 14px;
  padding-bottom: 9px;
  outline: none;
  border: none;
  border-bottom: 2px solid $color-main-text;
  font-family: inherit;
  font-size: $font-size-big;
  line-height: 18px / $font-size-big;

  @media (min-width: $width-tablet) {
    margin-left: 23px;
    padding-top: 0;
    padding-left: 18px;
    width: 375px;
  }

  @media (min-width: $width-desktop) {
    margin-left: 25px;
    width: 575px;
  }
}

input[type="text"]::placeholder {
  @media (min-width: $width-tablet) {
    font-size: $font-size-big;
    line-height: 18px / $font-size-big;
  }
}

.field-text__input--name {
  @media (min-width: $width-tablet) {
    width: 428px;
  }

  @media (min-width: $width-desktop) {
    width: 625px;
  }
}

.field-text__input:hover,
.field-text__input:active {
  border-bottom-color: $color-green;
}

.field-text__input::placeholder {
  font-size: $font-size-main;
  line-height: 18px / $font-size-main;
  color: $color-grey;
}
