.order-form {
  outline: 2px solid palevioletred;

  display: flex;
  flex-direction: column;
}

.order-form__title {
  @include visually-hidden;
}

.order-form__note {
  outline: 2px solid goldenrod;

  @include centering;
  margin-bottom: 27px;
  padding-right: 18px;
  font-size: $font-size-smallest;
  line-height: 24px / $font-size-smallest;
  color: $color-secondary-text;

  @media (min-width: $width-tablet) {
    font-size: $font-size-main;
    line-height: 30px / $font-size-main;
  }
}

.order-form__name {
  line-height: 16px / $font-size-main;
  font-weight: 700;
  text-transform: uppercase;
  color: $color-green;
}

.order-form__checkboxes-wrapper {
  @media (min-width: $width-tablet) {
    background-color: $color-secondary-background;
  }
}

.order-form__contacts-wrapper {
  @media (min-width: $width-tablet) {
    background-color: $color-secondary-background;
  }
}

.order-form__type-radio,
.order-form__checkboxes {
  outline: 2px solid red;
  padding-bottom: 30px;
}

.order-form__type-radio {
  @include centering;

  @media (min-width: $width-tablet) {
    display: flex;
  }
}

.order-form__checkboxes {
  @include centering;

  @media (min-width: $width-tablet) {
    display: flex;
  }
}

.order-form__name-block {
  outline: 2px solid blue;

  @include centering;

  @media (min-width: $width-tablet) {
    display: flex;
  }
}

.order-form__contacts {
  outline: 2px solid orange;

  @include centering;

  @media (min-width: $width-tablet) {
    display: flex;
    flex-direction: column;
  }
}

.order-form__comments {
  outline: 2px solid violet;

  @include centering;

  @media (min-width: $width-tablet) {
    display: flex;
  }
}

.order-form__footnote {
  padding-bottom: 30px;
  font-size: $font-size-smaller;
  line-height: 16px / $font-size-smaller;
  color: $color-secondary-text;
}

.order-form__button {
  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 45px;
  padding-right: 45px;
  line-height: 16px / $font-size-main;
  background-color: $color-main-background;
}

.order-form__footnote-btn-wrapper {
  @include centering;

  @media (min-width: $width-tablet) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}
