.order-form {
  outline: 2px solid palevioletred;
  display: flex;
  flex-direction: column;
  margin-bottom: 55px;
}

.order-form__title {
  @include visually-hidden;
}

.order-form__note {
  outline: 2px solid goldenrod;

  @include centering;
  margin-bottom: 24px;
  padding-right: 18px;
  font-size: $font-size-smallest;
  line-height: 24px / $font-size-smallest;
  color: $color-secondary-text;

  @media (min-width: $width-tablet) {
    font-size: $font-size-main;
    line-height: 30px / $font-size-main;
  }
}

.order-form__name {
  line-height: 16px / $font-size-main;
  font-weight: 700;
  text-transform: uppercase;
  color: $color-green;

  @media (min-width: $width-tablet) {
    padding-top: 50px;
    width: 110px;
  }
}

.order-form__checkboxes-wrapper {
  @media (min-width: $width-tablet) {
    background-color: $color-secondary-background;
  }
}

.order-form__contacts-wrapper {
  @media (min-width: $width-tablet) {
    background-color: $color-secondary-background;
  }
}

.order-form__type-radio,
.order-form__checkboxes {
  outline: 2px solid red;
  padding-bottom: 30px;
}

.order-form__type-radio {
  @include centering;

  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  @media (min-width: $width-tablet) {
    display: flex;
  }
}

.order-form__field-radio {
  padding-top: 34px;
  padding-left: 62px;

  @media (min-width: $width-tablet) {
    padding-left: 210px;
  }
}

.order-form__field-radio:last-of-type {
  padding-top: 25px;
}

.order-form__checkboxes {
  @include centering;

  @media (min-width: $width-tablet) {
    display: flex;
  }
}

.order-form__colors {
  display: flex;
  flex-direction: column;
  padding-left: 62px;

  @media (min-width: $width-tablet) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.order-form__field-checkbox {
  padding-top: 30px;
  padding-bottom: 8px;

  @media (min-width: $width-tablet) {
    width: 50%;
  }

  @media (min-width: $width-desktop) {
    width: 30%;
  }
}

.order-form__name-block {
  @include centering;

  outline: 2px solid blue;
  display: flex;
  flex-direction: column;
  padding-bottom: 27px;
  margin-bottom: 34px;

  @media (min-width: $width-tablet) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.order-form__field-text {
  display: flex;
  flex-direction: column;
  padding-top: 30px;

  @media (min-width: $width-tablet) {
    flex-direction: row;
    width: 500px;
  }

  @media (min-width: $width-desktop) {
    width: 700px;
  }
}

.order-form__field-text:nth-of-type(2) {
  padding-top: 52px;
}

.order-form__field-text:nth-of-type(3) {
  padding-top: 52px;
}

.order-form__contacts {
  outline: 2px solid orange;
  display: flex;
  flex-direction: column;

  @include centering;

  @media (min-width: $width-tablet) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.order-form__contacts span {
  @media (min-width: $width-tablet) {
    padding-right: 134px;
  }
}

.order-form__contacts span:last-of-type {
  padding-right: 108px;
}

.order-form__tel,
.order-form__mail {
  display: flex;
  flex-direction: column;

  @media (min-width: $width-tablet) {
    flex-direction: row;
  }
}

.order-form__comments {
  outline: 2px solid violet;

  @include centering;

  @media (min-width: $width-tablet) {
    display: flex;
  }
}

.order-form__comments-field {
  display: flex;
  flex-direction: column;
  padding-bottom: 26px;
}

.order-form__footnote {
  padding-bottom: 30px;
  font-size: $font-size-smaller;
  line-height: 16px / $font-size-smaller;
  color: $color-secondary-text;
}

.order-form__button {
  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 45px;
  padding-right: 45px;
  line-height: 16px / $font-size-main;
  background-color: $color-main-background;
}

.order-form__footnote-btn-wrapper {
  @include centering;

  @media (min-width: $width-tablet) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}
