.page-footer {
  padding-top: 19px;
  padding-bottom: 20px;
  background-color: $color-secondary-background;

  @media (min-width: $width-tablet) {
    padding-bottom: 52px;
  }

  @media (min-width: $width-desktop) {
    padding-top: 0;
  }
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;

  @include centering;

  @media (min-width: $width-tablet) {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 31px;
  }

  @media (min-width: $width-desktop) {
    padding-top: 51px;
  }
}

.page-footer__social {
  padding-bottom: 21px;
  border-bottom: 1px solid $color-grey-smoky;

  @media (min-width: $width-tablet) {
    display: flex;
    justify-content: space-between;
    margin-left: 78px;
    padding-bottom: 0;
    width: 141px;
    border: none;
  }
}

.page-footer__copyright {
  padding-top: 17px;

  @media (min-width: $width-tablet) {
    padding-top: 12px;
    position: relative;
  }
}

.page-footer__copyright-link {
  display: flex;
  align-items: center;
  padding-left: 37px;
  font-size: $font-size-big;
  line-height: 18px / $font-size-big;
  font-weight: 700;
  text-decoration: none;
  color: $color-main-text;

  @media (min-width: $width-tablet) {
    width: 185px;
    padding: 0;
  }

  &:active {
    color: $color-black-opacity30;
  }
}

.page-footer__copyright-link svg {
  margin-left: 20px;
  width: 46px;
  height: 41px;
  fill: $color-green-background-light;

  @media (min-width: $width-tablet) {
    position: absolute;
    top: 3px;
    right: -9px;
  }
}

.page-footer__copyright-link:focus svg,
.page-footer__copyright-link:hover svg {
  fill: $color-green-background-dark-copy;
}

.page-footer__copyright-link:active svg {
  fill: $color-green-dark-copy-opacity;
}

.page-footer__logo {
  @media (max-width: $width-tablet - 1px) {
    @include visually-hidden;
  }

  @media (min-width: $width-tablet) {
    display: block;
  }
}

.page-footer__logo:focus svg,
.page-footer__logo:hover svg {
  fill: $color-green-background-dark-copy;
}

.page-footer__logo svg:active {
  fill: $color-green-dark-copy-opacity;
}
