.page-footer {
  outline: 2px solid indianred;
  padding-bottom: 30px;
  margin-bottom: 30px;
  background-color: $color-secondary-background;
}

.page-footer__wrapper {
  outline: 2px solid brown;
  display: flex;
  flex-direction: column;

  @include centering;

  @media (min-width: $width-tablet) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.page-footer__social {
  outline: 2px solid black;
}

.page-footer__copyright {
  padding-top: 60px;
  padding-left: 37px;

  @media (min-width: $width-tablet) {
    padding-top: 61px;
    padding-right: 56px;
  }

  @media (min-width: $width-desktop) {
    padding-top: 59px;
  }

  &--index {
    padding-top: 56px;

    @media (min-width: $width-tablet) {
      padding-top: 77px;
    }

    @media (min-width: $width-desktop) {
      padding-top: 59px;
    }
  }
}

.page-footer__copyright-link {
  font-size: $font-size-big;
  line-height: 18px / $font-size-big;
  font-weight: 700;
  text-decoration: none;
  color: $color-main-text;

  &:active {
    color: $color-black-opacity30;
  }
}

.page-footer__logo {
  @media (max-width: $width-tablet - 1px) {
    @include visually-hidden;
  }
}
