.page-header {
  position: relative;
  display: flex;
  flex-direction: column;

  @media (min-width: $width-tablet) {
    flex-direction: row;
    min-height: 88px;
    width: 668px;
    margin: 0 auto;
  }

  @media (min-width: $width-desktop) {
    width: 1050px;
  }
}

.page-header__title {
  @include visually-hidden;
}

.page-header__logo {
  margin: 0 auto;
  width: 260px;
  padding: 22px 0;
  padding-left: 87px;
  height: 80px;
  z-index: 1;

  @media (min-width: $width-tablet) {
    position: absolute;
    padding-left: 0;
    width: 245px;
  }

  @media (min-width: $width-desktop) {
    left: 452px;
  }
}
