.page-footer {
  outline: 2px solid indianred;
  background-color: $color-secondary-background;
}

.page-footer__wrapper {
  outline: 2px solid brown;
  display: flex;
  flex-direction: column;

  @include centering;

  @media (min-width: $width-tablet) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.page-footer__social {
  outline: 2px solid black;
}

.page-footer__copyright-link {
  font-size: $font-size-big;
  line-height: 18px / $font-size-big;
  font-weight: 700;
  text-decoration: none;
  color: $color-main-text;
}

.page-footer__logo {
  @media (max-width: $width-tablet) {
    @include visually-hidden;
  }
}
