.page-wrapper--index-page {
  position: relative;

  @media (min-width: $width-desktop) {
    margin: 0 auto;
    width: 1050px;
  }
}

.page-wrapper--index-page::before {
  @media (min-width: $width-tablet) {
    content: "";
    width: 100%;
    height: 24px;
    position: absolute;
    top: 1353px;
    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: repeat-x;
    background-size: 771px 17px;
    background-position: -21px 0;
  }

  @media (min-width: $width-desktop) {
    top: 1526px;
    background-size: auto 21px;
    background-position: 24px 0;
  }
}

.page-wrapper--index-page::after {
  @media (min-width: $width-tablet) {
    content: "";
    width: 100%;
    height: 24px;
    position: absolute;
    top: 2534px;
    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: repeat-x;
    background-size: 771px 17px;
    background-position: -21px 0;
  }

  @media (min-width: $width-desktop) {
    top: 2736px;
    background-size: auto 21px;
    background-position: 26px 0;
  }
}
