.product {
  @include centering;
  display: flex;
  flex-direction: column;
  margin-bottom: 70px;

  @media (min-width: $width-tablet) {
    position: relative;
  }
}

.product__name {
  padding-bottom: 24px;
  font-size: $font-size-bigger;
  line-height: 30px / $font-size-bigger;

  @media (min-width: $width-tablet) {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    font-size: $font-size-extra-large;
    line-height: 50px / $font-size-extra-large;
    z-index: 1;
  }

  @media (min-width: $width-desktop) {
    padding-top: 97px;
    padding-left: 44px;
    flex-direction: row-reverse;
    justify-content: flex-end;
    font-size: $font-size-extra-super-large;
    line-height: 57px / $font-size-extra-super-large;
  }
}

.product__name br {
  @media (min-width: $width-tablet) {
    display: none;
  }
}

.product__name span {
  display: block;
  padding-top: 5px;
  font-size: $font-size-main;
  line-height: 20px / $font-size-main;
  font-weight: 700;
  color: $color-green;
  text-transform: uppercase;

  @media (min-width: $width-tablet) {
    width: 126px;
    text-align: center;
    padding-top: 8px;
  }

  @media (min-width: $width-desktop) {
    padding-top: 12px;
    padding-right: 50px;
  }
}

.product__note {
  padding-bottom: 18px;
  font-size: $font-size-small;
  line-height: 24px / $font-size-small;
  color: $color-secondary-text;

  @media (min-width: $width-tablet) {
    padding-right: 368px;
    padding-top: 25px;
    font-size: $font-size-main;
    line-height: 30px / $font-size-main;
  }

  @media (min-width: $width-desktop) {
    padding-right: 575px;
    margin-left: 175px;
  }
}

.product__description {
  margin-bottom: 29px;
  padding-bottom: 60px;
  color: $color-secondary-text;
  border-collapse: collapse;

  @media (min-width: $width-tablet) {
    margin-right: 334px;
    margin-top: 20px;
  }

  @media (min-width: $width-desktop) {
    margin-top: 32px;
    margin-bottom: 83px;
    margin-right: 525px;
    margin-left: 175px;
  }
}

.product__info-wrap {
  height: 39px;
  vertical-align: middle;
  border-bottom: 1px solid $color-grey-lighter;
}

.product__info {
  padding-left: 16px;
  font-size: $font-size-small;
  line-height: 24px / $font-size-small;
  font-weight: 400;
  color: $color-secondary-text;
  text-align: left;

  @media (min-width: $width-tablet) {
    line-height: 20px / $font-size-small;
  }
}

.product__info-title {
  width: 80px;
  font-size: $font-size-small;
  line-height: 24px / $font-size-small;
  font-weight: 400;
  color: $color-secondary-text;
  text-align: left;
}

.product__photo-wrap {
  margin-bottom: 19px;

  @media (min-width: $width-tablet) {
    position: absolute;
    left: 50%;
    top: 128px;
  }

  @media (min-width: $width-desktop) {
    top: 0;
  }
}

.product__price {
  padding-bottom: 27px;
  text-align: center;
  font-weight: 700;
  color: $color-secondary-text;

  @media (min-width: $width-tablet) {
    padding-bottom: 35px;
    padding-right: 47px;
    padding-top: 28px;
    margin-right: 334px;
    font-size: $font-size-large;
    line-height: 24px / $font-size-large;
  }

  @media (min-width: $width-desktop) {
    margin-right: 525px;
    margin-left: 175px;
    padding-right: 59px;
  }
}

.product__btn {
  @media (min-width: $width-tablet) {
    margin-right: 334px;
    width: 288px;
  }

  @media (min-width: $width-desktop) {
    margin-right: 525px;
    margin-left: 175px;
  }
}
