.product-item {
  outline: 2px solid red;

  @media (min-width: $width-tablet) {
    display: flex;
  }

  @media (min-width: $width-desktop) {
    flex-direction: column;
    width: 316px;
    margin-bottom: 0;
  }
}

.product-item__info {
  padding-top: 30px;
  padding-left: 27px;
  padding-right: 27px;
  padding-bottom: 30px;
}

.product-item__price {
  padding-left: 27px;
  padding-right: 27px;
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: $font-size-small;
  line-height: 24px / $font-size-small;
  font-weight: 700;

  @media (min-width: $width-tablet) {
    font-size: $font-size-main;
    line-height: 24px / $font-size-main;
  }
}

.product-item__name a {
  font-size: $font-size-main;
  line-height: 24px / $font-size-main;
  font-weight: 700;
  text-decoration: none;
  color: $color-main-text;

  @media (min-width: $width-tablet) {
    font-size: $font-size-large;
    line-height: 24px / $font-size-large;
  }
}

.product-item__info span {
  font-size: $font-size-smallest;
  line-height: 30px / $font-size-smallest;
  color: $color-secondary-text;

  @media (min-width: $width-tablet) {
    font-size: $font-size-small;
    line-height: 30px / $font-size-small;
  }
}

.product-item__price a {
  @include visually-hidden;
}

.product-item__picture-link {
  @media (min-width: $width-tablet) {
    width: 50%;
  }

  @media (min-width: $width-desktop) {
    width: auto;
  }
}

.product-item__description {
  @media (min-width: $width-tablet) {
    width: 50%;
  }

  @media (min-width: $width-desktop) {
    width: auto;
  }
}
