.product-item {
  outline: 2px solid red;
}

.product-item__info {
  padding-top: 30px;
  padding-left: 17px;
  padding-right: 17px;
  padding-bottom: 30px;
}

.product-item__name a {
  font-weight: 700;
  text-decoration: none;
  color: $color-main-text;
}

.product-item__description {
  font-size: $font-size-smallest;
  line-height: 30px / $font-size-smallest;
  color: $color-secondary-text;
}

.product-item__price {
  padding-left: 17px;
  padding-right: 17px;
  padding-top: 25px;
  font-size: $font-size-small;
  line-height: 24px / $font-size-small;
  font-weight: 700;
}

.product-item__price a {
  @include visually-hidden;
}
