.social-link {
  padding-top: 12px;
}

.social-link svg:hover {
  fill: $color-green-background-dark-copy;
}

.social-link svg:active {
  fill: $color-green-dark-copy-opacity;
}

.social-link span {
  @include visually-hidden;
}

.social-link--fb {
  padding-top: 7px;
}
