.video {
  outline: 2px solid blue;

  @include centering;
  padding-bottom: 30px;

  @media (min-width: $width-tablet) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $width-desktop) {
    position: relative;
  }
}

.video__title {
  padding-left: 90px;
  padding-right: 40px;
  padding-top: 28px;
  padding-bottom: 25px;
  font-size: $font-size-main;
  line-height: 24px / $font-size-main;
  font-weight: 700;

  @media (min-width: $width-tablet) {
    font-size: $font-size-large;
    line-height: 24px / $font-size-large;
  }

  @media (min-width: $width-desktop) {
    padding-left: 682px;
  }
}

.video__video {
  padding-bottom: 32px;

  @media (min-width: $width-tablet) {
    order: -1;
  }

  @media (min-width: $width-desktop) {
    position: absolute;
    right: 50%;
  }
}

.video__note {
  padding-left: 33px;
  padding-right: 38px;
  padding-bottom: 30px;
  font-size: $font-size-smallest;
  line-height: 24px / $font-size-smallest;
  color: $color-secondary-text;

  @media (min-width: $width-tablet) {
    font-size: $font-size-small;
    line-height: 30px / $font-size-small;
  }

  @media (min-width: $width-desktop) {
    padding-left: 682px;
  }
}

.video__order-btn {
  display: block;
  margin: 0 auto;
  width: 188px;

  @media (min-width: $width-tablet) {
    margin: 0 auto;
    width: 580px;
  }

  @media (min-width: $width-desktop) {
    margin-left: 682px;
    width: 226px;
    margin-right: 0;
  }
}
