.video {
  @include centering;
  padding-bottom: 30px;
  margin-bottom: 64px;

  @media (min-width: $width-tablet) {
    display: flex;
    flex-direction: column;
    padding-bottom: 45px;
  }

  @media (min-width: $width-desktop) {
    position: relative;
    padding-bottom: 59px;
    margin-bottom: 107px;
  }
}

.video__title {
  padding-left: 91px;
  padding-right: 40px;
  padding-top: 23px;
  padding-bottom: 26px;
  font-size: $font-size-main;
  line-height: 24px / $font-size-main;
  font-weight: 700;

  @media (min-width: $width-tablet) {
    padding-top: 8px;
    padding-bottom: 32px;
    padding-left: 107px;
    font-size: $font-size-large;
    line-height: 24px / $font-size-large;
  }

  @media (min-width: $width-desktop) {
    padding-left: 760px;
    padding-right: 51px;
    padding-top: 94px;
    padding-bottom: 34px;
  }
}

.video__video {
  padding-bottom: 20px;

  @media (min-width: $width-tablet) {
    padding-bottom: 24px;
    order: -1;
  }

  @media (min-width: $width-desktop) {
    position: absolute;
  }
}

.video__video iframe {
  width: 260px;
  background-image: url("../img/video-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 260px 150px;
  background-position: center;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/video-mobile@2x.jpg");
  }

  @media (min-width: $width-tablet) {
    width: 668px;
    height: 455px;
    background-image: url("../img/video-tablet@1x.jpg");
    background-size: 668px 455px;
    background-position: center;
  }

  @media (min-width: 768px) and (min-resolution: 144dpi),
    (min-width: 768px) and (min-resolution: 1.5dppx) {
    background-image: url("../img/video-tablet@2x.jpg");
  }

  @media (min-width: $width-desktop) {
    width: 682px;
    background-image: url("../img/video-desktop@1x.jpg");
  }

  @media (min-width: 1150px) and (min-resolution: 144dpi),
    (min-width: 1150px) and (min-resolution: 1.5dppx) {
    background-image: url("../img/video-desktop@2x.jpg");
  }
}

.video__note {
  padding-left: 35px;
  padding-right: 38px;
  padding-bottom: 26px;
  font-size: $font-size-smallest;
  line-height: 24px / $font-size-smallest;
  color: $color-secondary-text;

  @media (min-width: $width-tablet) {
    padding-bottom: 36px;
    padding-left: 40px;
    font-size: $font-size-small;
    line-height: 30px / $font-size-small;
  }

  @media (min-width: $width-desktop) {
    padding-left: 760px;
    padding-bottom: 47px;
  }
}

.video__order-btn {
  display: block;
  margin: 0 auto;
  width: 188px;

  @media (min-width: $width-tablet) {
    margin: 0 auto;
    width: 584px;
  }

  @media (min-width: $width-desktop) {
    margin-left: 762px;
    width: 230px;
    margin-right: 0;
  }
}
