.video {
  @include centering;
  padding-bottom: 33px;
  margin-bottom: 59px;
  border: 1px solid $color-grey-lighter;

  @media (min-width: $width-tablet) {
    display: flex;
    flex-direction: column;
    padding-bottom: 45px;
  }

  @media (min-width: $width-desktop) {
    position: relative;
    padding-bottom: 59px;
    margin-bottom: 107px;
  }

  &:hover {
    box-shadow: 0 6px 10px 0 rgba(0,0,0,.1);
  }
}

.video__title {
  position: relative;
  padding-left: 91px;
  padding-right: 40px;
  padding-top: 23px;
  padding-bottom: 26px;
  font-size: $font-size-main;
  line-height: 24px / $font-size-main;
  font-weight: 700;

  @media (min-width: $width-tablet) {
    padding-top: 8px;
    padding-bottom: 32px;
    padding-left: 107px;
    font-size: $font-size-large;
    line-height: 24px / $font-size-large;
  }

  @media (min-width: $width-desktop) {
    padding-left: 760px;
    padding-right: 51px;
    padding-top: 94px;
    padding-bottom: 34px;
  }
}

.video__title::before {
  content: "";
  position: absolute;
  top: 29px;
  left: 35px;
  width: 32px;
  height: 27px;
  background-image: url("../img/icon-video.svg");
  background-repeat: no-repeat;

  @media (min-width: $width-tablet) {
    top: 3px;
    left: 42px;
  }

  @media (min-width: $width-desktop) {
    top: 40px;
    left: auto;
    right: 256px;
  }
}

.video__video {
  position: relative;
  padding-bottom: 24px;

  @media (min-width: $width-tablet) {
    padding-bottom: 24px;
    order: -1;
  }

  @media (min-width: $width-desktop) {
    position: absolute;
    top: -2px;
    left: -1px;
  }
}

.video__btn {
  position: absolute;
  top: 50px;
  left: 95px;
  width: 70px;
  height: 52px;
  font-size: 0;
  border: none;
  border-radius: 18%;
  outline: none;
  cursor: pointer;
  background-color: $color-invert-text;

  @media (min-width: $width-tablet) {
    top: 200px;
    left: 299px;
  }

  @media (min-width: $width-desktop) {
    top: 200px;
    left: 308px;
  }
}

.video__btn::before {
  content: "";
  position: absolute;
  top: -12px;
  left: -15px;
  width: 101px;
  height: 77px;
  background-image: url("../img/icon-play.svg");
  background-repeat: no-repeat;
  transition-duration: 0.5s;
  z-index: 4;

  @media (min-width: $width-desktop) {
    left: -17px;
  }
}

.video__btn:hover::before {
  transform: scale(1.2);
  transition-duration: 1s;
}

.video__btn:active::before {
  transform: scale(0.8);
  transition: transform 2s;
  opacity: 0.3;
}

.video__video iframe {
  width: 259px;
  background-image: url("../img/video-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 260px 150px;
  background-position: center;
  border: none;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/video-mobile@2x.jpg");
  }

  @media (min-width: $width-tablet) {
    width: 667px;
    height: 455px;
    background-image: url("../img/video-tablet@1x.jpg");
    background-size: 668px 455px;
    background-position: center;
  }

  @media (min-width: 768px) and (min-resolution: 144dpi),
    (min-width: 768px) and (min-resolution: 1.5dppx) {
    background-image: url("../img/video-tablet@2x.jpg");
  }

  @media (min-width: $width-desktop) {
    width: 682px;
    background-image: url("../img/video-desktop@1x.jpg");
    background-size: 680px 455px;
  }

  @media (min-width: 1150px) and (min-resolution: 144dpi),
    (min-width: 1150px) and (min-resolution: 1.5dppx) {
    background-image: url("../img/video-desktop@2x.jpg");
  }
}

.video__note {
  padding-left: 35px;
  padding-right: 38px;
  padding-bottom: 26px;
  font-size: $font-size-smallest;
  line-height: 24px / $font-size-smallest;
  color: $color-secondary-text;

  @media (min-width: $width-tablet) {
    padding-bottom: 36px;
    padding-left: 40px;
    font-size: $font-size-small;
    line-height: 30px / $font-size-small;
  }

  @media (min-width: $width-desktop) {
    padding-left: 760px;
    padding-bottom: 47px;
  }
}

.video__order-btn {
  display: block;
  margin: 0 auto;
  width: 188px;

  @media (min-width: $width-tablet) {
    margin: 0 auto;
    width: 584px;
  }

  @media (min-width: $width-desktop) {
    margin-left: 762px;
    width: 230px;
    margin-right: 0;
  }
}
