// colors
$color-main-background: #ffffff;
$color-secondary-background: #f1f1f1;
$color-black: #000000;
// $color-black-opacity60: rgba(0, 0, 0, 0.6);
// $color-black-opacity30: rgba(0, 0, 0, 0.3);
$color-grey-dark: #444444;
$color-grey-medium: #7c7c7c;
$color-grey-border: #c7c7c7;
// $color-grey-border-opacity: rgba(199, 199, 199, 0.1);
$color-main-text: #000000;
$color-invert-text: #ffffff;
$color-secondary-text: rgb(68, 68, 68,);
$color-main-text-opacity: rgba(68, 68, 68, 0.3);
$color-grey-light: #d3d2d2;
$color-green: rgb(99, 209, 186);
// $color-green-opacity: rgba(98, 209, 186, 0.3);
$color-green-background-dark: #46c1ae;
$color-green-background-light:#59d5bc;


//fonts
$font-size-biggest: 27px;
$font-size-bigger: 25px;
$font-size-big: 19px;
$font-size-medium: 18px;
$font-size-main: 17px;
$font-size-small: 15px;
$font-size-smaller: 14px;
$font-size-smallest: 13px;


// mixins
@mixin visually-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
